.main-navbar {
  height: var(--nav-height);
  background: #020024;
  background: linear-gradient(273deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: sticky;
  top: 0;
  z-index: 1100; /* Highest priority */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

.nav-section { display: flex; align-items: center; gap: 15px; }

.mobile-btn {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--sidebar-bg);
}

.brand-logo {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--sidebar-bg);
  letter-spacing: -0.5px;
}

.admin-tag {
  background: #ffffff16;
  /* color: var(--accent); */
  color: white;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.profile-pill {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 5px 5px 15px;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.profile-pill:hover { background: var(--primary-bg); }

.text-right { text-align: right; line-height: 1.2; }
.p-name { font-size: 0.85rem; font-weight: 700; color: #1e293b; }
.p-role { font-size: 0.7rem; color: #64748b; }

.p-avatar {
  width: 38px;
  height: 38px;
  background: linear-gradient(135deg, var(--accent), #8b5cf6);
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .mobile-btn { display: block; }
  .text-right { display: none; } /* Hide name on small mobile if tight */
}